@charset "utf-8";
/* CSS Document */

/*娓呴櫎榛樿鏍峰紡*/
body, div, dl, dt, dd, ul, ol, nl, li, h1, h2, h3, h4, h5, h6, p, span, a, b, strong, object, iframe, label, 

img, select, form, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 

canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, 

mark, audio, video {margin:0;padding:0}
body{font-size:12px;font-family:'寰蒋闆呴粦';}
.left{float:left;_display:inline;}
.right{float:right;_display:inline;}
.clear:after{content:"";clear:both;display:block;}
.clear{zoom:1;}
a{text-decoration:none;font-size:12px;}
a:hover {
  color: #2989c6;
  text-decoration: underline;
}

span{font-size:12px;}
li{list-style:none;}
img{border:none 0; vertical-align:middle;}
.col_f{color:#fff;}
.col_0{color:#000;}
.col_3{color:#333;}
.col_4e4e4e{color:#4e4e4e;}
.col_6{color:#666;}
.col_2989c6{color:#2989c6;}
.col_d6180a{color:#d6180a;}
.col_2989c6{color:#2989c6;}
.col_ls54{color:#54b434;}
.f_12{font-size:12px;}
.f_13{font-size:12px;}
.f_14{font-size:14px;}
.f_15{font-size:15px;}
.f_16{font-size:16px;}
.f_17{font-size:17px;}
.f_18{font-size:18px;}
.f_20{font-size:20px;}
.f_22{font-size:22px;}
.f_24{font-size:24px;}
.pad_l_20{padding-left:20px;}
.mar_l_10{margin-left:10px;}
.mar_t_10{margin-top:10px;}
.mar_r_10{margin-right:10px;}
.mar_b_10{margin-bottom:10px;}
input{vertical-align:middle;}
.t_center{text-align:center;}
.t_2em{text-indent:2em;}


/*澶撮儴*/
.headerBj{width:100%;height:90px; background:url(../bg/header_bj.jpg) repeat-x scroll center center;}
.header_top{width:1000px;height:90px;margin:0px auto;}
.logo{padding-top:12px;}
.header_right{width:816px;}
.home_header{width:806px;margin:0px auto;}

.navBox{width:826px;height:60px;}
.nav{width:840px;height:60px;padding-top:15px;}
.nav_li{position:relative;float:left;_width:123px;height:60px;line-height:60px;text-align:center; background:url(../bg/nav_li_bj.jpg) no-repeat scroll right center;padding-right:2px;}
.nav_a{display:block;font-size:14px;color:#fff;font-weight:bold;padding:0px 24px;}
.nav_a.active,.nav_li:hover .nav_a{display:block;height:60px;background:#385a72;color:#fff;text-decoration:none;}
.nav_li ul{position:absolute;width:99%;top:60px; background:#45657c;padding-top:3px;left:0px;display:none;z-index:10;}
.nav_li ul li{width:100%;height:30px;margin:3px auto;}
.nav_li ul li a{display:block;_width:100%;height:30px;line-height:28px;background:#45657c;font-size:12px;color:#fff;font-weight:bold;}
.nav_li ul li a:hover{background:#385a72;text-decoration:none;}
/*banner*/
.homeBanner{cursor:pointer;position:relative;width:100%;height:500px;margin:0px auto;text-align:center;overflow:hidden;background:#fff;}
.homeBannerBox{position:absolute;width:1920px;height:422px;left:50%;margin-left:-960px;}
.homeBannerImgBox{width:1920px;height:716px;text-align:center;overflow:hidden;position: relative;  left: 50%; margin-left: -960px;}
#bannerScrollUl{display:inline-block;width:10000px; height:716px;white-space:nowrap;position:absolute;top:0px;left:0px;}
.bannerScroll_li{width:1920px;height:716px;position:relative;top:0px;left:0px;}
#homePrev,#homeNext{position:absolute;top:186px;display:block;width:60px;height:60px;z-index:200;}

/*#homePrev:hover{background:url(../bg/left_prev_2.png) no-repeat scroll 0px 0px;}
#homeNext:hover{background:url(../bg/right_next_2.png) no-repeat scroll 0px 0px;}*/
.homeBannerBtnBox{position:absolute;left:50%;margin-left:-530px;bottom:0px;width:1060px;text-align:center;padding:10px 0px;}
.homeBannerBtnBox_bj{width:100%;height:10px;background:#fff;opacity:0.5;filter:alpha(opacity=50);position:absolute;z-index:0;top:0px;}
.homeBannerBtn{display:inline-block;width:8px;height:8px;background:#fff;margin:0px 3px;overflow:hidden;position:relative;z-index:1;border-radius:50%;}
.homeBannerBtn.on{background:#2e5e8f;opacity:1;filter:alpha(opacity=100);}
.banner_a{position:absolute;top:10px;left:10px;}
.towBanner{position:relative;cursor:pointer;width:100%;height:300px;text-align:center;overflow:hidden;}
.towBannerBox{position:absolute;width:1920px;height:300px;left:50%;margin-left:-960px;}
/*涓棿*/
.main{width:1000px;height:auto;margin:20px auto 20px;min-height:200px; z-index:200;}



/*搴曢儴*/
.footerBj{width:100%;height:130px;background:#f1f1f1;border-top:1px solid #cacaca;margin:0px auto;text-align:center;}
.footer_top{width:1000px;height:44px;margin:0px auto;}
.friendlink{text-align:left;padding:20px 0px 0px;}
.footer_bottom{position:relative;width:1000px;height:80px;margin:0px auto;text-align:center;line-height:24px;}
.footer_text{padding-top:14px;text-align:left;}
.erweima{position:absolute;right:30px;top:-24px;width:90px;height:90px;overflow:hidden;}
.erweima img{width:90px;height:90px;}
.footerBj a:hover{text-decoration:underline;}

.home_footerBj{width:100%;height:146px;background:#f1f1f1;border-top:1px solid #cacaca;margin:0px auto;border-top:7px solid #0e2f48;}
.home_footer{position:relative;top:0px;left:0px;width:1000px;height:116px;margin:0px auto;padding-top:30px;}
.home_friendlink{text-align:left;padding:20px 0px 0px;}
.home_footer_bottom{position:relative;width:1000px;height:80px;margin:0px auto;text-align:center;line-height:24px;}
.home_footer_text{padding-top:14px;text-align:left;}
.home_erweima{width:90px;height:90px;overflow:hidden;}
.home_erweima img{width:90px;height:90px;}
.home_footerBj a:hover{text-decoration:underline;}
.footer_left{width:320px;}
.footer_right{width:314px;padding-right:34px}
.footer_left_text{width:216px;padding:12px 0px 0px 10px;line-height:22px}
.home_footer_logo{position:absolute;top:-75px;left:50%;width:262px;height:114px;padding-top:100px; background:url(../bg/home_logo.png) no-repeat scroll left top;text-align:center;margin-left:-131px;z-index:100;}


/*鍙充晶娴姩*/
.rightNav{ width:54px; position:fixed; right:25px; bottom:20px;}
.rightNav li{ height:54px; margin-bottom:5px; background-color:#2d4d76;}
.rightNav li a{ display:block; height:54px; line-height:22px; text-align:center; color:#fff; font-size:16px;}
.rightNav li a:hover{ background-color:#5d88ab;text-decoration: none;color:#fff;}
.rightNav li a img{ margin-top:19px;}
.rightNav li.text a{ height:46px; padding:4px;}
#goTop{ display:none;}
















